
<p>Detalhes da Empresa</p>
<form id="DadosEmpresa">
    <p>
        <img src="~/Content/vader.jpg" width="300" height="250" style="float:left;padding:5px;" />
        Nome:Empresa Padrão<br />
        Telefone:69 0000-0000<br />
        Endereço: AV. JK
    </p>
</form>
