
    <div id="option">

        <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/vader.jpg" width="190" height="160" /></a>
        <p>Nome:Empresa Padrão <br>
            Telefone:69 0000-0000<br />
            Endereço: AV. JK
        </p>
    </div>
<div id="option">

    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/vader.jpg" width="190" height="160" /></a>
    <p>
        Nome:Empresa Padrão <br>
        Telefone:69 0000-0000<br />
        Endereço: AV. JK
    </p>
</div>
<div id="option">

    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/vader.jpg" width="190" height="160" /></a>
    <p>
        Nome:Empresa Padrão <br>
        Telefone:69 0000-0000<br />
        Endereço: AV. JK
    </p>
</div>
<div id="option">

    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/vader.jpg" width="190" height="160" /></a>
    <p>
        Nome:Empresa Padrão <br>
        Telefone:69 0000-0000<br />
        Endereço: AV. JK
    </p>
</div>
<div id="option">

    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/vader.jpg" width="190" height="160" /></a>
    <p>
        Nome:Empresa Padrão <br>
        Telefone:69 0000-0000<br />
        Endereço: AV. JK
    </p>
</div>
