<p>
    Resultado da pesquisa por:"Empresa Padrão"
</p>
<div id="resultado">
    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/vader.jpg" width="250" height="250"/></a>
    <p>
        Nome: Empresa Padrão <br>
        Telefone:69 0000-0000<br />
        Endereço: Av. JK
    </p>
</div>
<div id="resultado">
    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/vader.jpg" width="250" height="250" /></a>
    <p>
        Nome: Empresa Padrão <br>
        Telefone:69 0000-0000<br />
        Endereço: Av. JK
    </p>
</div>
<div id="resultado">
    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/vader.jpg" width="250" height="250" /></a>
    <p>
        Nome: Empresa Padrão <br>
        Telefone:69 0000-0000<br />
        Endereço: Av. JK
    </p>
</div>
<div id="resultado">
    <a href="~/Empresa/AEmpresa/Index"><img src="~/Content/vader.jpg" width="250" height="250" /></a>
    <p>
        Nome: Empresa Padrão <br>
        Telefone:69 0000-0000<br />
        Endereço: Av. JK
    </p>
</div>